@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;

}
span{
  color: #007aff;
}
.navbar {
  background-color: white;
  color: whitesmoke;
}
.btn-close-white {
  color: #fff;
  background-color: transparent; 
  border-color: transparent; 
}
.main-img {
  width: 60%;
  margin-left: 39%;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

.main2-img {
  width: 40%;
  margin-left: 35%;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}

.main {
  margin-left: 165px;
}

@media screen and (max-width: 767px) {
  .main-img {
    width: 70%;
    margin-top: 0;
    /* margin-bottom: -45px; */
  }

  .sub-body {
    padding: 5px;
  }

  .main2-img {
    width: 40%;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 20px;
    display: block;
  }
  .main {
    margin-left: 50px;
  }
  .learnings img{
    width: 20%;
  }
}
@media screen and (max-width: 767px) {
  .contact{
    margin-bottom: 75px;
  }
}
@media screen and (max-width: 991px) {
  .sub-body {
    padding: 1px;
  }

  .main-img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
  }

  .main2-img {
    width: 70%;
    margin-left: 15%;
    margin-right: auto;
    margin-top: 20px;
    display: block;
  }


  .main {
    margin-left: 25px;
    margin-top: 20px;
}
.learnings img{
  width: 18%;
}
.about1-main img{
  width: 10%;
}
.about2-main img{
  width: 10%;
}
.contact{
  background-color: #ffffffd8;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
}

.social a {
  margin: 5px;
  color: #000000;
}

.social a:hover {
  color: #003d73;
}

.card {
  border-radius: 20px;
  /* padding: 10px; */
  border: none;
  background-color: #ffffffd8;
}

.card img {
  border-radius: 5px;
}

.project {
  margin-left: auto;
}
.about1-main img{
  width: 8%;
}
.about2-main img{
  width: 8%;
}
.about1-main {
  margin-top: 20px;
  background-color: #ffffffd8;
  border-radius: 20px;
  /* border-style:  1px dashed green; */
}
.about2-main {
  margin-top: 20px;
  background-color: #ffffffd8;
  border-radius: 20px;
}
.skills {
  margin-top: 20px;
  background-color: #ffffffd8;
  border-radius: 20px;
  /* padding-left: 5px; */
}
.footer-btn {
  display: block;
  position: fixed;
  margin-bottom: 80px;
  margin-left: 1400px;
  margin-right: 10px;
  bottom: 0;
  left: 50px;
  width: 55px;
  height: 54px;
  border-radius: 30px;
  background-color: #212529;
  z-index: 1000;
  padding: -2px;
  padding-top: 6px;
  padding-right: 9px;
  font-size: 2rem;
}
.contact{
  background-color: #ffffffd8;
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 1px;
  border-radius: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
.learnings img{
  width: 13%;
}

.btn{
  background-color: #007aff;
  border-radius: 12px;
  border: none;
}






/* Footer Navigation (Mobile Only) */
.footer-nav-mobile {
  display: none; /* Initially hide on all screens */
}

@media (max-width: 767px) {
  /* Show footer navigation only on mobile devices */
  .footer-nav-mobile {
    display: block;
    position: fixed;
    margin-bottom: 2px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 139px;
    bottom: 5px;
    /* left: 0; */
    width: 95%;
    height: 52px;
    border-radius: 60px;
    background-color: whitesmoke;
    z-index: 1000;
}

 .nav :hover{
  color: #7e7e7e;
}

  .footer-nav-mobile .nav {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    
  }

  .footer-nav-mobile .nav-item {
    text-align: center;
  }

  .footer-nav-mobile .nav-link {
    color: #007aff;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 0.72rem;
  }

  .footer-nav-mobile .nav-link i {
    margin-right: 5px;
  }
  .footers{
    display: none!Important;
  }
  .learnings img{
    width: 18%;
  }
  .about1-main img{
    width: 10%;
  }
  .about2-main img{
    width: 10%;
  }
  .contact{
    background-color: #ffffffd8;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 20px;
    margin-bottom: 100px;
  }
   .copyright {
    display: none;
}
}
.swiper-pagination {
  position: static; 
  margin-top: 8px;
  margin-bottom: 40px;
}
.swiper-pagination-bullet-active {
  /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
  color: #28a745;
}